---
export type Props = {
  sideValue?: "full" | "top" | "right" | "bottom" | "left";
  borderStyleValue?:
    | "none"
    | "dotted"
    | "solid"
    | "inset"
    | "dashed"
    | "double"
    | "ridge"
    | "groove"
    | "outset";
};

import Icon from "../Icon.astro";
import SelectField from "../SelectField.astro";
import CssValue from "../cssValue/CssValue.astro";
import { borderStyle, borderWidth } from "./borderModifierHelpers";

const { sideValue = "full", borderStyleValue = "solid" } = Astro.props;

const sideOptions = ["full", "top", "right", "bottom", "left"];
const borderStyleOptions = [
  "none",
  "dotted",
  "solid",
  "inset",
  "dashed",
  "double",
  "ridge",
  "groove",
  "outset",
];
---

<fieldset
  data-border-modifier
  class="border border-transparent hover:border-base-300 rounded-lg py-3 px-4"
>
  <div class="flex justify-between gap-2 items-center">
    <div class="join">
      <div
        class="join-item px-2 input input-bordered input-xs flex justify-center items-center"
      >
        <div
          data-side={sideValue}
          class:list={["h-4 border aspect-square mini-box"]}
        >
        </div>
      </div>
      <SelectField name="side" size="xs" class="join-item side-select">
        {
          sideOptions.map((option) => {
            if (option === sideValue) {
              return <option selected>{option}</option>;
            }
            return <option>{option}</option>;
          })
        }
      </SelectField>
      <SelectField
        name={borderStyle.name(sideValue)}
        size="xs"
        class:list={["join-item border-style-select", borderStyle.id]}
      >
        {
          borderStyleOptions.map((option) => {
            if (option === borderStyleValue) {
              return <option selected>{option}</option>;
            }
            return <option>{option}</option>;
          })
        }
      </SelectField>
    </div>
    <CssValue
      defaultValue={10}
      valueClassId={borderWidth.id}
      name={borderWidth.name(sideValue)}
    />
    <button
      class="btn remove-modifier-btn btn-xs btn-outline btn-error btn-square"
    >
      <span class="sr-only">remove modifier</span>
      <Icon icon="trash" />
    </button>
  </div>
</fieldset>
<style>
  .mini-box[data-side="full"] {
    @apply border-secondary border-2;
  }
  .mini-box[data-side="top"] {
    @apply border-t-secondary border-t-2;
  }
  .mini-box[data-side="right"] {
    @apply border-r-secondary border-r-2;
  }
  .mini-box[data-side="bottom"] {
    @apply border-b-secondary border-b-2;
  }
  .mini-box[data-side="left"] {
    @apply border-l-secondary border-l-2;
  }
</style>
