---
import type { CssValueProps } from "./cssValue";

export type Props = CssValueProps;

const { name, placeholder, defaultValue, valueClassId, unitClassId } =
  Astro.props;
---

<div data-css-value={name} class="join items-[normal] inline-flex">
  <input
    name={`${name}:value`}
    value={defaultValue}
    data-css-value-value
    size="1"
    class:list={[
      "input text-right input-bordered w-auto max-w-[50%] input-xs join-item cursor-ns-resize v-css-value-input",
      valueClassId,
    ]}
    placeholder={placeholder}
  /><select
    data-css-value-unit
    name={`${name}:unit`}
    class:list={["select select-bordered select-xs join-item", unitClassId]}
  >
    <option selected>px</option>
    <option>%</option>
    <option>rem</option>
    <option>em</option>
  </select>
</div>
